{% extends 'global.html.twig' %}

{% block title %}
    Academie
{% endblock %}

{% block body %}

    {% block content %}
        <div class="example-wrapper">
            <button type="button" class="btn btn-primary retour"><a href=" {{ url("etablissements") }}" style="color : white">Retour</a></button>
            <h1>Academie {{ code_academie }}! ✅</h1>
        </div>
    {% endblock %}
{% endblock %}
