{% extends 'global.html.twig' %}

{% block title %}
    Etablissement
{% endblock %}

{% block body %}

    {% block content %}
        <div class="example-wrapper">
            <h1>Etablissement {{ id_etablissement }}! ✅</h1>

            <a href=" {{ url("etablissements") }}">Retour</a>
        </div>
    {% endblock %}
{% endblock %}
